.container-banner {
    width: 1250px;
    margin: 0 auto;
}
.container-banner .banner{
    margin-top: 90px;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-attachment: fixed;    
}
  